<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公共页面</title>
</head>
<body>

<!--顶栏-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
    <div class="navbar-brand col-sm-3 col-md-2 mr-0" th:text="${session.tbUserInfo.getName()}"></div>
    <div class="form-control form-control-dark w-100 text-center"
         th:text="#{common.title}" aria-label="Device Management System"></div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/sign_out(lang=${param.lang})}"
               th:text="#{common.signout}">Sign out</a>
        </li>
    </ul>
</nav>

<!--侧栏-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="sidebar(page)">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a th:class="${page} == 'dashboard' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/to_dashboard(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/dashboard.png}" alt="dashboard.png" class="feather feather-file"/>
                    [[#{common.dashboard}]] <span class="sr-only" th:if="${page} == 'dashboard'">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${page} == 'device' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/device(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/devices.png}" alt="devices.png" class="feather feather-file"/>
                    [[#{common.devices}]] <span class="sr-only" th:if="${page} == 'device'">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${page} == 'user' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/user(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/users.png}" alt="users.png" class="feather feather-file"/>
                    [[#{common.users}]] <span class="sr-only" th:if="${page} == 'user'">(current)</span>
                </a>
            </li>
            <li class="nav-item" th:if="${session.tbUserInfo.isIsadmin()}">
                <a th:class="${page} == 'borrow' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/borrow(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/borrow.png}" alt="borrow.png" class="feather feather-file"/>
                    [[#{common.borrow}]] <span class="sr-only" th:if="${page} == 'borrow'">(current)</span>
                </a>
            </li>
            <li class="nav-item" th:if="${session.tbUserInfo.isIsadmin()}">
                <a th:class="${page} == 'return' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/return(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/return.png}" alt="return.png" class="feather feather-file"/>
                    [[#{common.return}]] <span class="sr-only" th:if="${page} == 'return'">(current)</span>
                </a>
            </li>
            <li class="nav-item" th:if="${session.tbUserInfo.isIsadmin()}">
                <a th:class="${page} == 'backup' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/backup(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/backup.png}" alt="backup.png" class="feather feather-file"/>
                    [[#{common.backup}]] <span class="sr-only" th:if="${page} == 'backup'">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="nav-link" href="https://github.com/blingbling-110/DevMngSysWeb" target="_blank">
                    <img th:src="@{/asserts/img/help.png}" alt="help.png" class="feather feather-file"/>
                    [[#{common.help}]]
                </a>
            </li>
            <li class="nav-item">
                <a th:class="nav-link" href="Mailto:523497359@qq.com?Subject=企业设备管理系统网页版">
                    <img th:src="@{/asserts/img/email.png}" alt="email.png" class="feather feather-file"/>
                    [[#{common.support}]]
                </a>
            </li>
            <li class="nav-item">
                <a th:class="nav-link" data-toggle="modal" data-target="#pwd" href="">
                    <img th:src="@{/asserts/img/key.png}" alt="key.png" class="feather feather-file"/>
                    [[#{common.password}]]
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${page} == 'about' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/about(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/about.png}" alt="about.png" class="feather feather-file"/>
                    [[#{common.about}]] <span class="sr-only" th:if="${page} == 'about'">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="modal fade" id="pwd" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true"
     th:fragment="pwd_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="pwd_title">
                    [[#{common.password}]]
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <form id="pwd_data" th:action="@{/password(lang=${param.lang})}" method="post">
                <div class="modal-body">
                    <label class="control-label" th:text="#{common.oriPwd}+'&nbsp;:&nbsp;'" for="pwd_ori"></label>
                    <input type="password" id="pwd_ori" name="pwd_ori" class="form-control" required="">
                    <br>
                    <label class="control-label" th:text="#{common.newPwd}+'&nbsp;:&nbsp;'" for="pwd_new"></label>
                    <input type="password" id="pwd_new" name="pwd_new" class="form-control" required="">
                    <br>
                    <label class="control-label" th:text="#{common.cfmPwd}+'&nbsp;:&nbsp;'" for="pwd_cfm"></label>
                    <input type="password" id="pwd_cfm" name="pwd_cfm" class="form-control" required="">
                    <input name="requestURL" th:value="${#request.requestURL}" hidden="">
                    <input name="username" th:value="${session.tbUserInfo.getUserid()}" hidden="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary" th:text="#{common.password}"
                            style="background-color: #f36f20;">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:fragment="cookie_dialog">
    var cookies = document.cookie.split(";");
    for(var i = 0; i < cookies.length; i++)
    {
        var cookie = cookies[i].split("=");
        if (cookie[0].trim() === "msg") {
            switch (cookie[1].trim()) {
                case "agreeSucceed":
                    alert("\n设备已成功转移\n\nDevice successfully transferred");
                    break;
                case "agreeFailed":
                    alert("\n设备转移失败\n\nDevice transfer failed");
                    break;
                case "DevId":
                    alert("\n设备编号已存在\n\nDevice ID already exists");
                    break;
                case "DevSta":
                    alert("\n请正确填写设备状态\n\nPlease fill in the device status correctly");
                    break;
                case "Username":
                    alert("\n用户名已存在\n\nUsername already exists");
                    break;
                case "EmployeeID":
                    alert("\n工号已存在\n\nEmployee ID already exists");
                    break;
                case "ParseInt":
                    alert("\n工号只能为整数，且不能超过2147483647\n\n" +
                        "The Employee ID can only be an integer and cannot exceed 2147483647");
                    break;
                case "BorrowFailed":
                    alert("\n借用设备失败\n\nFailed to borrow device");
                    break;
                case "DeviceBorrowed":
                    alert("\n设备已借出，请在设备总览中进行借用请求操作\n\n" +
                        "The device has been borrowed, please make a borrow request in the device overview");
                    break;
                case "DeviceIdNotExist":
                    alert("\n设备编号不存在\n\nDevice ID does not exist");
                    break;
                case "BorrowerIdNotExist":
                    alert("\n借用人工号不存在\n\nBorrower's employee ID does not exist");
                    break;
                case "ReturnFailed":
                    alert("\n归还设备失败\n\nFailed to return device");
                    break;
                case "DeviceReturned":
                    alert("\n设备已归还\n\n" +
                        "The device has been returned");
                    break;
                case "ReturnerIdNotExist":
                    alert("\n归还人工号不存在\n\nReturner's employee ID does not exist");
                    break;
                case "backupFailed":
                    alert("\n备份失败\n\nBackup failed");
                    break;
                case "restoreFailed":
                    alert("\n还原失败\n\nRestore failed");
                    break;
                case "restoreSucceed":
                    alert("\n还原成功\n\nRestore succeed");
                    break;
                case "PwdChanged":
                    alert("\n密码已修改\n\nPassword changed");
                    break;
                case "ConfirmPwd":
                    alert("\n确认密码与新密码不一致\n\nConfirm password does not match new password");
                    break;
                case "OriPwd":
                    alert("\n原密码输入错误\n\nIncorrect old password entered");
                    break;
                case "Word":
                    alert("\n用户名只能包括大小写字母、数字和下划线\n\n" +
                        "Username can only include uppercase and lowercase letters, numbers, and underscores");
                    break;
                default:
                    alert("\n" + cookie[1].trim() + "已备份\n\n" + cookie[1].trim() + " is backed up");
                    break;
            }
        }
    }
</script>

<!--页脚-->
<div th:fragment="footer" class="text-center">
    <p class="mt-5 mb-3 text-muted">Copyright © 2019-2020 qinzijun All Rights Reserved.</p>
    <a class="btn btn-sm" th:href="@{${#request.requestURL}(lang='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{${#request.requestURL}(lang='en_US')}">English</a>
</div>

</body>
</html>