<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公共页面</title>
</head>
<body>

<!--顶栏-->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" th:fragment="topbar">
    <div class="navbar-brand col-sm-3 col-md-2 mr-0" th:text="${session.tbUserInfo.getName()}"></div>
    <div class="form-control form-control-dark w-100 text-center"
         th:text="#{common.title}" aria-label="Device Management System"></div>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" th:href="@{/sign_out(lang=${param.lang})}"
               th:text="#{common.signout}">Sign out</a>
        </li>
    </ul>
</nav>

<!--侧栏-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar" th:fragment="sidebar(page)">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a th:class="${page} == 'dashboard' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/to_dashboard(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/dashboard.png}" alt="dashboard.png" class="feather feather-file"/>
                    [[#{common.dashboard}]] <span class="sr-only" th:if="${page} == 'dashboard'">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${page} == 'device' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/device(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/devices.png}" alt="devices.png" class="feather feather-file"/>
                    [[#{common.devices}]] <span class="sr-only" th:if="${page} == 'device'">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${page} == 'user' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/user(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/users.png}" alt="users.png" class="feather feather-file"/>
                    [[#{common.users}]] <span class="sr-only" th:if="${page} == 'user'">(current)</span>
                </a>
            </li>
            <li class="nav-item" th:if="${session.tbUserInfo.isIsadmin()}">
                <a th:class="${page} == 'borrow' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/borrow(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/borrow.png}" alt="borrow.png" class="feather feather-file"/>
                    [[#{common.borrow}]] <span class="sr-only" th:if="${page} == 'borrow'">(current)</span>
                </a>
            </li>
            <li class="nav-item" th:if="${session.tbUserInfo.isIsadmin()}">
                <a th:class="${page} == 'return' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/return(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/return.png}" alt="return.png" class="feather feather-file"/>
                    [[#{common.return}]] <span class="sr-only" th:if="${page} == 'return'">(current)</span>
                </a>
            </li>
            <li class="nav-item" th:if="${session.tbUserInfo.isIsadmin()}">
                <a th:class="${page} == 'backup' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/backup(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/backup.png}" alt="backup.png" class="feather feather-file"/>
                    [[#{common.backup}]] <span class="sr-only" th:if="${page} == 'backup'">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${page} == 'help' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/help(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/help.png}" alt="help.png" class="feather feather-file"/>
                    [[#{common.help}]] <span class="sr-only" th:if="${page} == 'help'">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${page} == 'support' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/support(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/email.png}" alt="email.png" class="feather feather-file"/>
                    [[#{common.support}]] <span class="sr-only" th:if="${page} == 'support'">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${page} == 'password' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/password(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/key.png}" alt="key.png" class="feather feather-file"/>
                    [[#{common.password}]] <span class="sr-only" th:if="${page} == 'password'">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a th:class="${page} == 'about' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/about(lang=${param.lang})}">
                    <img th:src="@{/asserts/img/about.png}" alt="about.png" class="feather feather-file"/>
                    [[#{common.about}]] <span class="sr-only" th:if="${page} == 'about'">(current)</span>
                </a>
            </li>
        </ul>

    </div>
</nav>

<!--页脚-->
<div th:fragment="footer" class="text-center">
    <p class="mt-5 mb-3 text-muted">Copyright © 2019-2020 qinzijun All Rights Reserved.</p>
    <a class="btn btn-sm" th:href="@{${#request.requestURL}(lang='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{${#request.requestURL}(lang='en_US')}">English</a>
</div>

</body>
</html>