<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="设备管理系统登录界面">
    <meta name="author" content="覃子俊">
    <title>[[#{login.title}]]</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{asserts/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{asserts/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/login(lang=${#request.getParameter('lang')})}" method="post">
    <img class="mb-4" th:src="@{/asserts/img/devmngsys.png}" alt="devmngsys" width="300" height="214">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.title}">Please sign in</h1>
    <br>
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.info}">Please sign in</h1>
    <p style="color: red;" th:text="#{login.error}" th:unless="${#strings.isEmpty(error)}"></p>
    <p style="color: red;" th:text="#{login.permission}" th:unless="${#strings.isEmpty(permission)}"></p>
    <label class="sr-only" th:text="#{login.username}">Username</label>
    <input type="text" name="username" class="form-control" th:placeholder="#{login.username}" required="" autofocus="">
    <label class="sr-only" th:text="#{login.password}">Password</label>
    <input type="password" name="password" class="form-control" th:placeholder="#{login.password}" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> [[#{login.remember}]]
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.button}">Sign in</button>
</form>

<div th:insert="~{common::footer}"></div>

</body>

</html>